.product {
  width: calc(33.33% - 20px); /* Adjust the width as per your layout */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #fff;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 2rem;
}
.product img {
  margin-left: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 200px;
  display: block;
  margin-bottom: 15px;
}

.description {
  text-align: center;
}

.description p {
  margin: 8px 0;
}

.description b {
  font-size: 1.3em;
}

.addToCartBttn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.addToCartBttn:hover {
  background-color: #0056b3;
}
