/* navbar.css */

.navbar {
  background-color: #333333; /* Dark grey background color */
  color: #ffffff; /* White color for text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
  display: flex;
margin-left: 10px;
  padding: 10px 20px;
}

.custom-link {
  text-decoration: none;
  color: #ffffff; /* White color for links */
  padding: 8px 12px; /* Smaller space between links */
  margin-right: 10px; /* Reduced margin between links */
  font-family: 'Arial', sans-serif; /* Change the font family as needed */
}

.custom-link:hover {
  background-color: #555555; /* Darker grey background on hover */
  border-radius: 5px;
}

.custom-cart-link {
  text-decoration: none;
  color: #ffffff; /* White color for cart link */
  display: flex;
  align-items: center;
}

.shopping-cart-icon {
  margin-left: 5px; /* Adjust the spacing for the cart icon */
}
