body{
  background-color: #edede9;
}

.navbar {
  background-color: #333333; 
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
  display: flex;
margin-left: 10px;
  padding: 10px 20px;

  align-items: center;
}

.custom-link {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 12px; 
  margin-right: 10px; 
  font-family: 'Arial', sans-serif; 
}

.custom-link:hover {
  background-color: #555555; 
  border-radius: 5px;
}

.custom-cart-link {
  text-decoration: none;
  color: #ffffff; 
  display: flex;
  align-items: center;
}

.shopping-cart-icon {
  margin-left: 5px; 
}
