/* Navbar container */
.navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

/* Navigation links */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  text-decoration: none;
  color: #ffd700; /* Change link color on hover */
}








/* Custom Link styles */
.custom-link {
  color: white;
  font-family: Arial, sans-serif;
  text-decoration: none;
  /* Add any other desired styles */
}
