/* about.css */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  margin: 50px auto;
  max-width: 1100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 500px;
}

h2 {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.company-image:hover {
  transform: scale(1.05);
}
/* ButtonStyles.css */
.custom-button {
  display: inline;
  background-color: #3498db; /* Example background color */
  color: white; /* Text color */
  padding: 8px 16px; /* Padding */
  border: none; /* No border */
  border-radius: 4px; /* Border radius */
  cursor: pointer; /* Cursor style */
  /* Add more styles as needed */
}
